{
  "openapi": "3.0.3",
  "info": {
    "title": "Allure Création API",
    "version": "1.0.0",
    "description": "API Documentation for Allure Création — modularized version"
  },
  "servers": [
    {
      "url": "https://api.allure-creation.fr",
      "description": "Production Server"
    },
    {
      "url": "http://localhost:4000",
      "description": "Local Development Server"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication and user session endpoints"
    },
    {
      "name": "Contracts",
      "description": "Endpoints related to contract management"
    },
    {
      "name": "Contract Types",
      "description": "Endpoints related to contract type management"
    },
    {
      "name": "Contract Packages",
      "description": "Endpoints related to contract package management"
    },
    {
      "name": "Contract Addons",
      "description": "Endpoints related to contract addon management"
    },
    {
      "name": "Dresses",
      "description": "Endpoints related to dress management"
    },
    {
      "name": "Avatars",
      "description": "Endpoints related to avatar management"
    },
    {
      "name": "Dress Storage",
      "description": "Endpoints related to dress image management"
    },
    {
      "name": "Dresses - Colors",
      "description": "Endpoints related to dress color management"
    },
    {
      "name": "Dresses - Conditions",
      "description": "Endpoints related to dress contdition management"
    },
    {
      "name": "Dresses - Sizes",
      "description": "Endpoints related to dress size management"
    },
    {
      "name": "Dresses - Types",
      "description": "Endpoints related to dress type management"
    },
    {
      "name": "Users",
      "description": "Endpoints related to users management"
    },
    {
      "name": "Profiles",
      "description": "Endpoints related to profiles management"
    },
    {
      "name": "Customers",
      "description": "Endpoints related to customers management"
    },
    {
      "name": "Roles",
      "description": "Endpoints related to roles management"
    },
    {
      "name": "Mail",
      "description": "Endpoints related to email management (IMAP/SMTP)"
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Register a new user (Admin-only)",
        "description": "Creates a new user account and associated profile. This endpoint can only be called by an **authenticated admin** or user with appropriate permissions. The password is securely hashed with bcrypt before storage. If the email already exists, a 400 error is returned.",
        "operationId": "registerUser",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password",
                  "roleName"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "emma.dupont@example.com",
                    "description": "Email address of the new user. Must be unique."
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "StrongPass!2025",
                    "description": "Plain-text password. It will be hashed before being stored."
                  },
                  "roleName": {
                    "type": "string",
                    "example": "ADMIN",
                    "description": "Name of the role to assign (must exist in `roles` table)."
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Emma",
                    "description": "Optional. First name of the new user."
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Dupont",
                    "description": "Optional. Last name of the new user."
                  }
                }
              },
              "examples": {
                "basicExample": {
                  "summary": "Register a new user",
                  "value": {
                    "email": "emma.dupont@example.com",
                    "password": "StrongPass!2025",
                    "roleName": "MANAGER",
                    "firstName": "Emma",
                    "lastName": "Dupont"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "✅ User successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "email",
                    "role",
                    "profile"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "1a2b3c4d-5e6f-7890-abcd-ef1234567890"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "example": "emma.dupont@example.com"
                    },
                    "role": {
                      "type": "string",
                      "example": "MANAGER"
                    },
                    "profile": {
                      "type": "object",
                      "description": "Associated profile record created automatically",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "987e6543-e21b-12d3-a456-426614174999"
                        },
                        "role_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "123e4567-e89b-12d3-a456-426614174000"
                        },
                        "firstName": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "example": "Emma"
                        },
                        "lastName": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "example": "Dupont"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-10-09T18:30:00.000Z"
                        },
                        "created_by": {
                          "type": "string",
                          "format": "uuid",
                          "example": "7d8e9f10-11aa-12bb-13cc-14ddeeff5566"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "successExample": {
                    "summary": "User successfully registered",
                    "value": {
                      "id": "1a2b3c4d-5e6f-7890-abcd-ef1234567890",
                      "email": "emma.dupont@example.com",
                      "role": "MANAGER",
                      "profile": {
                        "id": "987e6543-e21b-12d3-a456-426614174999",
                        "role_id": "123e4567-e89b-12d3-a456-426614174000",
                        "firstName": "Emma",
                        "lastName": "Dupont",
                        "created_at": "2025-10-09T18:30:00.000Z",
                        "created_by": "7d8e9f10-11aa-12bb-13cc-14ddeeff5566"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "⚠️ Invalid input or duplicate user",
            "content": {
              "application/json": {
                "examples": {
                  "missingFields": {
                    "summary": "Missing required fields",
                    "value": {
                      "error": "Missing email or password"
                    }
                  },
                  "duplicateUser": {
                    "summary": "Email already exists",
                    "value": {
                      "error": "User with this email already exists"
                    }
                  },
                  "roleNotFound": {
                    "summary": "Invalid role name",
                    "value": {
                      "error": "Role not found"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "🔒 Unauthorized — Only authenticated users can create accounts",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized: only authenticated users can create accounts"
                }
              }
            }
          },
          "500": {
            "description": "💥 Internal server error — Failed to register user",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Authenticate user and issue JWT",
        "description": "Authenticates a user using email and password. Returns a JWT valid for 6 hours, along with user details.",
        "operationId": "loginUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "emma.dupont@example.com",
                    "description": "User email address"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "StrongPass!2025",
                    "description": "Plaintext password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User successfully authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                    },
                    "id": {
                      "type": "string",
                      "example": "1a2b3c4d-5e6f-7890-abcd-ef1234567890"
                    },
                    "email": {
                      "type": "string",
                      "example": "emma.dupont@example.com"
                    },
                    "role": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "example": "ADMIN"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "example": {
                  "error": "Invalid password"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get the current authenticated user",
        "description": "Retrieves detailed information about the currently authenticated user based on the JWT token provided in the `Authorization` header. The response includes user details, profile, and role. Returns a new refreshed JWT token valid for 6 hours.",
        "operationId": "getCurrentUser",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "✅ Successfully retrieved the authenticated user's information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "token",
                    "id",
                    "email",
                    "role",
                    "profile"
                  ],
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "A newly generated JWT valid for 6 hours.",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique identifier of the authenticated user.",
                      "example": "a7c1b2e3-4d5f-6789-abcd-ef0123456789"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "example": "emma.dupont@example.com",
                      "description": "Email address of the authenticated user."
                    },
                    "role": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "example": "ADMIN",
                      "description": "Name of the user's assigned role, if any."
                    },
                    "profile": {
                      "type": "object",
                      "description": "Profile details of the authenticated user.",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "cdef1234-5678-90ab-cdef-1234567890ab"
                        },
                        "firstName": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "example": "Emma"
                        },
                        "lastName": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "example": "Dupont"
                        },
                        "role": {
                          "type": "object",
                          "description": "Role details associated with the user profile.",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "example": "r1a2b3c4-5d6e-789f-0123-456789abcdef"
                            },
                            "name": {
                              "type": "string",
                              "example": "ADMIN"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Example of a successful response",
                    "value": {
                      "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                      "id": "a7c1b2e3-4d5f-6789-abcd-ef0123456789",
                      "email": "emma.dupont@example.com",
                      "role": "ADMIN",
                      "profile": {
                        "id": "cdef1234-5678-90ab-cdef-1234567890ab",
                        "firstName": "Emma",
                        "lastName": "Dupont",
                        "role": {
                          "id": "r1a2b3c4-5d6e-789f-0123-456789abcdef",
                          "name": "ADMIN"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "⚠️ Bad request or unexpected error",
            "content": {
              "application/json": {
                "example": {
                  "error": "Failed to fetch current user info"
                }
              }
            }
          },
          "401": {
            "description": "🔒 Unauthorized — missing or invalid token",
            "content": {
              "application/json": {
                "examples": {
                  "missingToken": {
                    "summary": "No token provided",
                    "value": {
                      "error": "Unauthorized"
                    }
                  },
                  "invalidToken": {
                    "summary": "Invalid JWT",
                    "value": {
                      "error": "Invalid token"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "🚫 User not found — the ID from the token does not match any user",
            "content": {
              "application/json": {
                "example": {
                  "error": "User not found"
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Refresh the authentication token (JWT)",
        "description": "Generates a new valid JWT for an already authenticated user. This endpoint requires a valid existing token in the `Authorization` header. The new token is valid for 6 hours and includes the user’s ID, email, and role information.",
        "operationId": "refreshToken",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "✅ Successfully refreshed the token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthRefreshResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Example of a successful token refresh",
                    "value": {
                      "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                      "id": "a7c1b2e3-4d5f-6789-abcd-ef0123456789",
                      "email": "emma.dupont@example.com",
                      "role": "ADMIN",
                      "profile": {
                        "id": "cdef1234-5678-90ab-cdef-1234567890ab",
                        "firstName": "Emma",
                        "lastName": "Dupont",
                        "role": {
                          "id": "r1a2b3c4-5d6e-789f-0123-456789abcdef",
                          "name": "ADMIN"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "⚠️ Bad request — error during token refresh",
            "content": {
              "application/json": {
                "example": {
                  "error": "Failed to refresh token"
                }
              }
            }
          },
          "401": {
            "description": "🔒 Unauthorized — missing or invalid token",
            "content": {
              "application/json": {
                "examples": {
                  "missingToken": {
                    "summary": "No token provided",
                    "value": {
                      "error": "Unauthorized"
                    }
                  },
                  "invalidToken": {
                    "summary": "Invalid JWT",
                    "value": {
                      "error": "Invalid token"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "🚫 User not found — token refers to a non-existing user",
            "content": {
              "application/json": {
                "example": {
                  "error": "User not found"
                }
              }
            }
          },
          "500": {
            "description": "💥 Internal server error — unexpected failure",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/contracts": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get all contracts",
        "description": "Retrieves all active (non-deleted) contracts from the database. Each contract record includes related entities such as customer, contract type, package, addons, dresses, and electronic signature link. This endpoint is typically used to populate dashboards or management tables with all contracts.",
        "operationId": "getAllContracts",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "SIGNED"
            },
            "description": "Optional filter by contract status (e.g., SIGNED, PENDING_SIGNATURE, CANCELLED)."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 50
            },
            "description": "Maximum number of contracts to return."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 0
            },
            "description": "Number of records to skip before starting to collect the result set."
          }
        ],
        "responses": {
          "200": {
            "description": "✅ Successfully retrieved all active contracts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "description": "List of contracts with all associated details.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "contract_number": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "DRAFT",
                              "PENDING_SIGNATURE",
                              "SIGNED",
                              "CANCELLED",
                              "EXPIRED"
                            ],
                            "example": "SIGNED"
                          },
                          "start_datetime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "end_datetime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deposit_payment_method": {
                            "type": "string",
                            "enum": [
                              "cash",
                              "card",
                              "transfer"
                            ],
                            "example": "card"
                          },
                          "account_ht": {
                            "type": "number",
                            "example": 400
                          },
                          "account_ttc": {
                            "type": "number",
                            "example": 480
                          },
                          "caution_ht": {
                            "type": "number",
                            "example": 100
                          },
                          "caution_ttc": {
                            "type": "number",
                            "example": 120
                          },
                          "total_price_ht": {
                            "type": "number",
                            "example": 500
                          },
                          "total_price_ttc": {
                            "type": "number",
                            "example": 600
                          },
                          "customer": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "firstname": {
                                "type": "string",
                                "example": "Emma"
                              },
                              "lastname": {
                                "type": "string",
                                "example": "Dupont"
                              },
                              "email": {
                                "type": "string",
                                "format": "email",
                                "example": "emma.dupont@email.fr"
                              },
                              "phone": {
                                "type": "string",
                                "example": "+33612345678"
                              }
                            }
                          },
                          "contract_type": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "name": {
                                "type": "string",
                                "example": "Location par jour"
                              }
                            }
                          },
                          "package": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "name": {
                                "type": "string",
                                "example": "Forfait Élégance"
                              },
                              "price_ht": {
                                "type": "number",
                                "example": 500
                              },
                              "price_ttc": {
                                "type": "number",
                                "example": 600
                              }
                            }
                          },
                          "addon_links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "addon": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "format": "uuid"
                                    },
                                    "name": {
                                      "type": "string",
                                      "example": "Retouche coiffure"
                                    },
                                    "price_ttc": {
                                      "type": "number",
                                      "example": 80
                                    },
                                    "included": {
                                      "type": "boolean",
                                      "example": false
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "dresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "dress": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "format": "uuid"
                                    },
                                    "name": {
                                      "type": "string",
                                      "example": "Robe de mariée Élégance"
                                    },
                                    "price_per_day_ttc": {
                                      "type": "number",
                                      "example": 120
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "sign_link": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "description": "Electronic signature link associated with this contract.",
                            "properties": {
                              "token": {
                                "type": "string",
                                "example": "9c9a6b14-1e8e-48cd-bf8b-cb8dcf9df8d3"
                              },
                              "expires_at": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Example: Successful response",
                    "value": {
                      "success": true,
                      "data": [
                        {
                          "id": "f123e456-789b-12d3-a456-426614174000",
                          "contract_number": "CTR-2025-004",
                          "status": "SIGNED",
                          "start_datetime": "2025-06-01T10:00:00.000Z",
                          "end_datetime": "2025-06-03T10:00:00.000Z",
                          "deposit_payment_method": "card",
                          "account_ht": 400,
                          "account_ttc": 480,
                          "caution_ht": 100,
                          "caution_ttc": 120,
                          "total_price_ht": 500,
                          "total_price_ttc": 600,
                          "customer": {
                            "firstname": "Emma",
                            "lastname": "Dupont"
                          },
                          "contract_type": {
                            "name": "Location par jour"
                          },
                          "package": null,
                          "addon_links": [],
                          "dresses": [],
                          "sign_link": {
                            "token": "9c9a6b14-1e8e-48cd-bf8b-cb8dcf9df8d3"
                          },
                          "created_at": "2025-05-30T10:00:00.000Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "💥 Internal server error - Failed to fetch contracts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Failed to fetch contracts"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Create a new contract",
        "description": "Creates a full contract record, links it to the selected customer and generates a 7-day signature link. Deux cas d’usage sont supportés : **contrat \"location par jour\"** (sans package, généralement pour une seule robe) et **contrat forfait** (avec `package_id`, préconfiguré avec robes/addons). Les montants HT/TTC doivent être calculés par le client.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contract_number",
                  "customer_id",
                  "contract_type_id",
                  "start_datetime",
                  "end_datetime",
                  "total_price_ht",
                  "total_price_ttc",
                  "status"
                ],
                "properties": {
                  "contract_number": {
                    "type": "string",
                    "description": "Business identifier displayed to the user (ex: CTR-2025-004). Must be unique.",
                    "example": "CTR-2025-004"
                  },
                  "customer_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Customer owning the contract.",
                    "example": "d43c9530-1164-4fa4-96fb-6d64cc1df4b5"
                  },
                  "contract_type_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Type de contrat (`Location par jour`, `Forfait`, etc.). Permet au front de distinguer la logique à appliquer.",
                    "example": "a0c66f0f-7a6c-4a05-96ab-2b2d1d9afc54"
                  },
                  "package_id": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uuid",
                    "description": "Identifiant du package à appliquer. Laisser `null` ou omettre pour une location par jour.",
                    "example": "5b73cfa8-b7a1-47f2-b5ed-3f8d2b86a9b7"
                  },
                  "start_datetime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Contract start timestamp (ISO 8601).",
                    "example": "2025-06-01T10:00:00.000Z"
                  },
                  "end_datetime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Contract end timestamp (ISO 8601).",
                    "example": "2025-06-03T10:00:00.000Z"
                  },
                  "deposit_payment_method": {
                    "type": "string",
                    "description": "Payment method used for the deposit (omit if not collected yet).",
                    "enum": [
                      "cash",
                      "card",
                      "transfer"
                    ],
                    "example": "card"
                  },
                  "status": {
                    "type": "string",
                    "description": "Current status of the contract.",
                    "enum": [
                      "DRAFT",
                      "PENDING_SIGNATURE",
                      "SIGNED",
                      "CANCELLED",
                      "EXPIRED"
                    ],
                    "example": "PENDING_SIGNATURE"
                  },
                  "account_ht": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "description": "Deposit amount excluding taxes.",
                    "example": 400
                  },
                  "account_ttc": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "description": "Deposit amount including taxes.",
                    "example": 480
                  },
                  "account_paid_ht": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "description": "Deposit already paid (HT).",
                    "example": 200
                  },
                  "account_paid_ttc": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "description": "Deposit already paid (TTC).",
                    "example": 240
                  },
                  "caution_ht": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "description": "Security deposit excluding taxes.",
                    "example": 100
                  },
                  "caution_ttc": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "description": "Security deposit including taxes.",
                    "example": 120
                  },
                  "caution_paid_ht": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "description": "Security deposit already paid (HT).",
                    "example": 0
                  },
                  "caution_paid_ttc": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "description": "Security deposit already paid (TTC).",
                    "example": 0
                  },
                  "total_price_ht": {
                    "type": "number",
                    "description": "Total contract amount excluding taxes.",
                    "example": 500
                  },
                  "total_price_ttc": {
                    "type": "number",
                    "description": "Total contract amount including taxes.",
                    "example": 600
                  },
                  "addons": {
                    "type": "array",
                    "description": "Liste d’addons à rattacher au contrat (possible pour un forfait ou une location par jour).",
                    "items": {
                      "type": "object",
                      "required": [
                        "addon_id"
                      ],
                      "properties": {
                        "addon_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Identifier of the addon to link.",
                          "example": "d031ce8d-9e9f-4d89-a3d8-2ec4b0ca16fc"
                        }
                      }
                    }
                  },
                  "dresses": {
                    "type": "array",
                    "description": "Liste des robes liées au contrat. Pour un contrat \"location par jour\", envoyer la ou les robes sélectionnées directement ici.",
                    "items": {
                      "type": "object",
                      "required": [
                        "dress_id"
                      ],
                      "properties": {
                        "dress_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Identifier of the dress to reserve.",
                          "example": "7d2f6f3a-18c5-43aa-812e-8df1b0b61f6f"
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "completeContract": {
                  "summary": "Contrat forfait avec package, addons et robes",
                  "value": {
                    "contract_number": "CTR-2025-004",
                    "customer_id": "d43c9530-1164-4fa4-96fb-6d64cc1df4b5",
                    "contract_type_id": "a0c66f0f-7a6c-4a05-96ab-2b2d1d9afc54",
                    "package_id": "5b73cfa8-b7a1-47f2-b5ed-3f8d2b86a9b7",
                    "start_datetime": "2025-06-01T10:00:00.000Z",
                    "end_datetime": "2025-06-03T10:00:00.000Z",
                    "deposit_payment_method": "card",
                    "status": "PENDING_SIGNATURE",
                    "account_ht": 400,
                    "account_ttc": 480,
                    "account_paid_ht": 200,
                    "account_paid_ttc": 240,
                    "caution_ht": 100,
                    "caution_ttc": 120,
                    "caution_paid_ht": 0,
                    "caution_paid_ttc": 0,
                    "total_price_ht": 500,
                    "total_price_ttc": 600,
                    "addons": [
                      {
                        "addon_id": "d031ce8d-9e9f-4d89-a3d8-2ec4b0ca16fc"
                      }
                    ],
                    "dresses": [
                      {
                        "dress_id": "7d2f6f3a-18c5-43aa-812e-8df1b0b61f6f"
                      },
                      {
                        "dress_id": "0b00222f-851e-4a7a-9e52-439b820e62ae"
                      }
                    ]
                  }
                },
                "dailyRental": {
                  "summary": "Contrat \"location par jour\" sans package",
                  "value": {
                    "contract_number": "CTR-2025-005",
                    "customer_id": "b18c4c10-41b8-4f01-9c74-376fa4b3c2b1",
                    "contract_type_id": "6c7b9b28-8de2-41f6-9a0f-8f8d063b6c3e",
                    "start_datetime": "2025-07-15T09:00:00.000Z",
                    "end_datetime": "2025-07-16T18:00:00.000Z",
                    "deposit_payment_method": "cash",
                    "status": "DRAFT",
                    "account_ht": 150,
                    "account_ttc": 180,
                    "account_paid_ht": 150,
                    "account_paid_ttc": 180,
                    "caution_ht": 80,
                    "caution_ttc": 96,
                    "caution_paid_ht": 0,
                    "caution_paid_ttc": 0,
                    "total_price_ht": 280,
                    "total_price_ttc": 336,
                    "package_id": null,
                    "addons": [
                      {
                        "addon_id": "f94b7a5d-1e2f-4b4a-8a32-90c8a7cb7f20"
                      }
                    ],
                    "dresses": [
                      {
                        "dress_id": "7d2f6f3a-18c5-43aa-812e-8df1b0b61f6f"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "✅ Contract created successfully with all related entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Newly created contract including related links.",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "c1f8b8ce-7420-4a5e-858b-9de799d4af0c"
                        },
                        "contract_number": {
                          "type": "string",
                          "example": "CTR-2025-004"
                        },
                        "status": {
                          "type": "string",
                          "example": "PENDING_SIGNATURE"
                        },
                        "start_datetime": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "end_datetime": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "total_price_ht": {
                          "type": "number",
                          "example": 500
                        },
                        "total_price_ttc": {
                          "type": "number",
                          "example": 600
                        },
                        "deposit_payment_method": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "example": "card"
                        },
                        "account_ht": {
                          "type": [
                            "number",
                            "null"
                          ],
                          "example": 400
                        },
                        "account_ttc": {
                          "type": [
                            "number",
                            "null"
                          ],
                          "example": 480
                        },
                        "account_paid_ht": {
                          "type": [
                            "number",
                            "null"
                          ],
                          "example": 200
                        },
                        "account_paid_ttc": {
                          "type": [
                            "number",
                            "null"
                          ],
                          "example": 240
                        },
                        "caution_ht": {
                          "type": [
                            "number",
                            "null"
                          ],
                          "example": 100
                        },
                        "caution_ttc": {
                          "type": [
                            "number",
                            "null"
                          ],
                          "example": 120
                        },
                        "caution_paid_ht": {
                          "type": [
                            "number",
                            "null"
                          ],
                          "example": 0
                        },
                        "caution_paid_ttc": {
                          "type": [
                            "number",
                            "null"
                          ],
                          "example": 0
                        },
                        "customer_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "contract_type_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "package_id": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "created_by": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid"
                        },
                        "sign_link": {
                          "type": "object",
                          "description": "Signature link generated automatically (7-day expiry).",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "token": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "customer_id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "expires_at": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        },
                        "addon_links": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "addon_id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "addon": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Retouche coiffure"
                                  },
                                  "price_ttc": {
                                    "type": "number",
                                    "example": 80
                                  }
                                }
                              }
                            }
                          }
                        },
                        "dresses": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "dress_id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "dress": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Robe de mariée Élégance"
                                  },
                                  "price_per_day_ttc": {
                                    "type": "number",
                                    "example": 120
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response with linked data",
                    "value": {
                      "success": true,
                      "data": {
                        "id": "c1f8b8ce-7420-4a5e-858b-9de799d4af0c",
                        "contract_number": "CTR-2025-004",
                        "status": "PENDING_SIGNATURE",
                        "start_datetime": "2025-06-01T10:00:00.000Z",
                        "end_datetime": "2025-06-03T10:00:00.000Z",
                        "total_price_ht": 500,
                        "total_price_ttc": 600,
                        "deposit_payment_method": "card",
                        "account_ht": 400,
                        "account_ttc": 480,
                        "account_paid_ht": 200,
                        "account_paid_ttc": 240,
                        "caution_ht": 100,
                        "caution_ttc": 120,
                        "caution_paid_ht": 0,
                        "caution_paid_ttc": 0,
                        "customer_id": "d43c9530-1164-4fa4-96fb-6d64cc1df4b5",
                        "contract_type_id": "a0c66f0f-7a6c-4a05-96ab-2b2d1d9afc54",
                        "package_id": "5b73cfa8-b7a1-47f2-b5ed-3f8d2b86a9b7",
                        "created_at": "2025-05-30T10:00:00.000Z",
                        "created_by": "16937819-c033-438f-bbad-543d83443371",
                        "sign_link": {
                          "id": "6b147c3e-3b1f-41ad-8f9e-3a9d5d6c1f23",
                          "customer_id": "d43c9530-1164-4fa4-96fb-6d64cc1df4b5",
                          "token": "9c9a6b14-1e8e-48cd-bf8b-cb8dcf9df8d3",
                          "expires_at": "2025-06-06T10:00:00.000Z"
                        },
                        "addon_links": [
                          {
                            "addon_id": "d031ce8d-9e9f-4d89-a3d8-2ec4b0ca16fc",
                            "addon": {
                              "name": "Retouche coiffure",
                              "price_ttc": 80
                            }
                          }
                        ],
                        "dresses": [
                          {
                            "dress_id": "7d2f6f3a-18c5-43aa-812e-8df1b0b61f6f",
                            "dress": {
                              "name": "Robe de mariée Élégance",
                              "price_per_day_ttc": 120
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "⚠️ Invalid or incomplete payload.",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "error": "Missing contract_number"
                }
              }
            }
          },
          "401": {
            "description": "🔒 Missing or invalid JWT.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "💥 Internal server error.",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "error": "Failed to create contract"
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{id}": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get contract by ID",
        "description": "Retrieves one contract by its ID, including all related entities such as customer, contract type, package, addons, dresses, and electronic signature link.",
        "operationId": "getContractById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of the contract to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "✅ Successfully retrieved the contract",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "contract_number": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "DRAFT",
                            "PENDING_SIGNATURE",
                            "SIGNED",
                            "CANCELLED",
                            "EXPIRED"
                          ],
                          "example": "SIGNED"
                        },
                        "start_datetime": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "end_datetime": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "deposit_payment_method": {
                          "type": "string",
                          "enum": [
                            "cash",
                            "card",
                            "transfer"
                          ],
                          "example": "card"
                        },
                        "account_ht": {
                          "type": "number",
                          "example": 400
                        },
                        "account_ttc": {
                          "type": "number",
                          "example": 480
                        },
                        "caution_ht": {
                          "type": "number",
                          "example": 100
                        },
                        "caution_ttc": {
                          "type": "number",
                          "example": 120
                        },
                        "total_price_ht": {
                          "type": "number",
                          "example": 500
                        },
                        "total_price_ttc": {
                          "type": "number",
                          "example": 600
                        },
                        "customer": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "firstname": {
                              "type": "string",
                              "example": "Emma"
                            },
                            "lastname": {
                              "type": "string",
                              "example": "Dupont"
                            },
                            "email": {
                              "type": "string",
                              "format": "email",
                              "example": "emma.dupont@email.fr"
                            },
                            "phone": {
                              "type": "string",
                              "example": "+33612345678"
                            }
                          }
                        },
                        "contract_type": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "name": {
                              "type": "string",
                              "example": "Location par jour"
                            }
                          }
                        },
                        "package": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "name": {
                              "type": "string",
                              "example": "Forfait Élégance"
                            },
                            "price_ht": {
                              "type": "number",
                              "example": 500
                            },
                            "price_ttc": {
                              "type": "number",
                              "example": 600
                            }
                          }
                        },
                        "addon_links": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "addon": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Retouche coiffure"
                                  },
                                  "price_ttc": {
                                    "type": "number",
                                    "example": 80
                                  },
                                  "included": {
                                    "type": "boolean",
                                    "example": false
                                  }
                                }
                              }
                            }
                          }
                        },
                        "dresses": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "dress": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Robe de mariée Élégance"
                                  },
                                  "price_per_day_ttc": {
                                    "type": "number",
                                    "example": 120
                                  }
                                }
                              }
                            }
                          }
                        },
                        "sign_link": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "description": "Electronic signature link associated with this contract.",
                          "properties": {
                            "token": {
                              "type": "string",
                              "example": "9c9a6b14-1e8e-48cd-bf8b-cb8dcf9df8d3"
                            },
                            "expires_at": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "❌ Contract not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Contract not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "💥 Internal server error - Failed to fetch contract",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Failed to fetch contract"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Contracts"
        ],
        "summary": "Update an existing contract",
        "description": "Updates an existing contract by its unique identifier. Requires authentication. All updatable fields of the contract can be included in the request body. Automatically sets `updated_at` and `updated_by` based on the authenticated user.",
        "operationId": "updateContract",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "8f36f92b-3d41-4a55-9b5a-17a53f729c9f"
            },
            "description": "The unique identifier of the contract to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContractRequest"
              },
              "examples": {
                "updateContract": {
                  "summary": "Update contract details",
                  "value": {
                    "status": "SIGNED",
                    "startDatetime": "2025-10-12T10:00:00.000Z",
                    "endDatetime": "2025-10-14T18:00:00.000Z",
                    "depositPaymentMethod": "CASH",
                    "total_price_ht": "500.00",
                    "total_price_ttc": "600.00"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "✅ Contract successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateContractResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Contract updated successfully",
                    "value": {
                      "success": true,
                      "data": {
                        "id": "8f36f92b-3d41-4a55-9b5a-17a53f729c9f",
                        "contractType": "RENTAL",
                        "status": "SIGNED",
                        "startDatetime": "2025-10-12T10:00:00.000Z",
                        "endDatetime": "2025-10-14T18:00:00.000Z",
                        "depositPaymentMethod": "CASH",
                        "total_price_ht": "500.00",
                        "total_price_ttc": "600.00",
                        "updated_by": "f03b6a82-2034-44c8-8614-7b9f3e2e5a4a",
                        "updated_at": "2025-10-09T14:23:05.123Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "⚠️ Invalid request format",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "error": "Invalid input data"
                }
              }
            }
          },
          "401": {
            "description": "🔒 Unauthorized - missing or invalid token",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "❌ Contract not found",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "error": "Contract not found"
                }
              }
            }
          },
          "500": {
            "description": "💥 Server error while updating contract",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "error": "Failed to update contract"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Contracts"
        ],
        "summary": "Soft delete a contract (logical deletion)",
        "description": "Marks a contract as deleted without removing it from the database. This operation sets the `deleted_at` and `deleted_by` fields, allowing recovery or auditing later.",
        "operationId": "softDeleteContract",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the contract to be soft deleted.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contract successfully soft deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Contract soft deleted"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Contract not found or already deleted"
          },
          "500": {
            "description": "Internal server error during soft delete"
          }
        }
      }
    },
    "/contracts/{id}/restore": {
      "patch": {
        "tags": [
          "Contracts"
        ],
        "summary": "Restore a soft deleted contract",
        "description": "Removes the logical deletion markers from a contract by setting `deleted_at` and `deleted_by` back to `null`. This endpoint is typically used after a contract has been soft deleted and needs to be reactivated.",
        "operationId": "restoreContract",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the contract to restore.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contract successfully restored",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Contract restored"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Contract not found or already active"
          },
          "500": {
            "description": "Internal server error during contract restoration"
          }
        }
      }
    },
    "/contracts/{id}/generate-signature": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Generate and send an electronic signature link by email",
        "description": "This endpoint generates a new unique, expirable signature link for a specific contract and automatically emails it to the associated customer using the SMTP configuration defined in environment variables (`SMTP_HOST`, `SMTP_USER`, etc.). The link is valid for **7 days** from generation and can be used by the customer to sign their contract electronically.",
        "operationId": "generateContractSignatureLink",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "a7b2c3d4-5678-90ab-cdef-1234567890ab"
            },
            "description": "The unique identifier (`id`) of the contract for which to generate a signature link."
          }
        ],
        "responses": {
          "200": {
            "description": "✅ Signature link successfully generated and email sent to the customer.",
            "content": {
              "application/json": {
                "examples": {
                  "success": {
                    "summary": "Successful generation and email delivery",
                    "value": {
                      "success": true,
                      "data": {
                        "id": "1a3f5d8e-4b12-4e3a-9f92-18b44b69a4a7",
                        "contract_id": "a7b2c3d4-5678-90ab-cdef-1234567890ab",
                        "customer_id": "b8f5d33c-14a4-42e5-bd6a-51de7f2e123f",
                        "token": "bba5d9f1-46e4-41b4-8157-8db68bff1f03",
                        "expires_at": "2025-10-12T14:35:00.000Z"
                      },
                      "link": "https://app.allure-creation.fr/sign/bba5d9f1-46e4-41b4-8157-8db68bff1f03",
                      "emailSentTo": "client@example.com"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "link",
                    "emailSentTo"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Information about the newly created signature link",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Unique identifier of the signature record"
                        },
                        "contract_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "The ID of the related contract"
                        },
                        "customer_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "The ID of the associated customer"
                        },
                        "token": {
                          "type": "string",
                          "description": "Unique secure token used to access the signing link"
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Date and time when the signing link will expire (7 days after creation)."
                        }
                      }
                    },
                    "link": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://app.allure-creation.fr/sign/6a3c12f4-2b8e-49a5-a3f4-901b2c1eab67",
                      "description": "The full URL of the signing page the customer can access to sign the contract."
                    },
                    "emailSentTo": {
                      "type": "string",
                      "format": "email",
                      "example": "client@example.com",
                      "description": "Email address where the signing link was sent."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "⚠️ Invalid request or missing customer data.",
            "content": {
              "application/json": {
                "examples": {
                  "missingId": {
                    "summary": "Contract ID not provided",
                    "value": {
                      "success": false,
                      "error": "Contract ID is required"
                    }
                  },
                  "missingCustomer": {
                    "summary": "Contract exists but no associated email",
                    "value": {
                      "success": false,
                      "error": "Missing customer information"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "❌ The specified contract was not found in the database.",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "error": "Contract not found"
                }
              }
            }
          },
          "500": {
            "description": "💥 Internal server error — could not generate link or send email.",
            "content": {
              "application/json": {
                "examples": {
                  "internalError": {
                    "summary": "Unexpected server error",
                    "value": {
                      "success": false,
                      "error": "Failed to generate sign link"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sign-links/{token}": {
      "get": {
        "summary": "Récupérer les informations d’un lien de signature électronique",
        "description": "Permet de vérifier la validité d’un lien de signature électronique (token) et de récupérer les informations du contrat associé, incluant le client, le type de contrat, le package et les robes liées. Retourne une erreur si le lien est expiré ou invalide.",
        "operationId": "getContractSignLink",
        "tags": [
          "Contracts"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "Token unique du lien de signature électronique",
            "schema": {
              "type": "string",
              "example": "ec761633-8a87-4d58-8373-afacc03a602a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lien de signature valide et contrat trouvé",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "698cf95d-ca73-4520-aee6-02c07e7ae51f"
                        },
                        "contract_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "79b4ebae-f107-4ca4-953e-b53b2e66e57a"
                        },
                        "customer_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "4d8fdff7-10b5-4ee4-b5a4-68ff0ceec443"
                        },
                        "token": {
                          "type": "string",
                          "example": "ec761633-8a87-4d58-8373-afacc03a602a"
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-11-13T09:40:58.208Z"
                        },
                        "contract": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "example": "79b4ebae-f107-4ca4-953e-b53b2e66e57a"
                            },
                            "contract_number": {
                              "type": "string",
                              "example": "CT-2025-0012"
                            },
                            "status": {
                              "type": "string",
                              "example": "DRAFT"
                            },
                            "start_datetime": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2025-11-05T11:00:00.000Z"
                            },
                            "end_datetime": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2025-11-06T11:00:00.000Z"
                            },
                            "total_price_ht": {
                              "type": "number",
                              "example": 2083.33
                            },
                            "total_price_ttc": {
                              "type": "number",
                              "example": 2500
                            },
                            "deposit_payment_method": {
                              "type": "string",
                              "example": "card"
                            },
                            "contract_type": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "example": "9eacb1d1-5c9e-4f12-a828-8aafc4ec95f3"
                                },
                                "name": {
                                  "type": "string",
                                  "example": "Location journalière"
                                }
                              }
                            },
                            "package": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "example": "23e1c2b2-3c11-4dc3-bcfa-3bc7a6a046e0"
                                },
                                "name": {
                                  "type": "string",
                                  "example": "Formule 3 robes"
                                },
                                "price_ttc": {
                                  "type": "number",
                                  "example": 2500
                                }
                              }
                            },
                            "customer": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "example": "4d8fdff7-10b5-4ee4-b5a4-68ff0ceec443"
                                },
                                "firstname": {
                                  "type": "string",
                                  "example": "Lina"
                                },
                                "lastname": {
                                  "type": "string",
                                  "example": "Dupont"
                                },
                                "email": {
                                  "type": "string",
                                  "example": "lina.dupont@email.com"
                                },
                                "phone": {
                                  "type": "string",
                                  "example": "+33612345678"
                                },
                                "city": {
                                  "type": "string",
                                  "example": "Paris"
                                }
                              }
                            },
                            "dresses": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid",
                                    "example": "e5f789ad-2bbf-45a3-9a3c-02bce5a64d73"
                                  },
                                  "dress": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "example": "d1a2f3b4-5678-4321-9abc-1234567890de"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "Robe de soirée rouge"
                                      },
                                      "reference": {
                                        "type": "string",
                                        "example": "DR-RED-42"
                                      },
                                      "price_ttc": {
                                        "type": "number",
                                        "example": 800
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "698cf95d-ca73-4520-aee6-02c07e7ae51f",
                    "contract_id": "79b4ebae-f107-4ca4-953e-b53b2e66e57a",
                    "customer_id": "4d8fdff7-10b5-4ee4-b5a4-68ff0ceec443",
                    "token": "ec761633-8a87-4d58-8373-afacc03a602a",
                    "expires_at": "2025-11-13T09:40:58.208Z",
                    "contract": {
                      "id": "79b4ebae-f107-4ca4-953e-b53b2e66e57a",
                      "contract_number": "CT-2025-0012",
                      "status": "DRAFT",
                      "start_datetime": "2025-11-05T11:00:00.000Z",
                      "end_datetime": "2025-11-06T11:00:00.000Z",
                      "total_price_ht": 2083.33,
                      "total_price_ttc": 2500,
                      "deposit_payment_method": "card",
                      "contract_type": {
                        "id": "9eacb1d1-5c9e-4f12-a828-8aafc4ec95f3",
                        "name": "Location journalière"
                      },
                      "package": {
                        "id": "23e1c2b2-3c11-4dc3-bcfa-3bc7a6a046e0",
                        "name": "Formule 3 robes",
                        "price_ttc": 2500
                      },
                      "customer": {
                        "id": "4d8fdff7-10b5-4ee4-b5a4-68ff0ceec443",
                        "firstname": "Lina",
                        "lastname": "Dupont",
                        "email": "lina.dupont@email.com",
                        "phone": "+33612345678",
                        "city": "Paris"
                      },
                      "dresses": [
                        {
                          "id": "e5f789ad-2bbf-45a3-9a3c-02bce5a64d73",
                          "dress": {
                            "id": "d1a2f3b4-5678-4321-9abc-1234567890de",
                            "name": "Robe de soirée rouge",
                            "reference": "DR-RED-42",
                            "price_ttc": 800
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Le token ne correspond à aucun lien de signature valide",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Lien de signature introuvable"
                    }
                  }
                }
              }
            }
          },
          "410": {
            "description": "Le lien de signature a expiré",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Lien expiré"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Erreur interne serveur"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sign-links/{token}/sign": {
      "post": {
        "summary": "Signer électroniquement un contrat via un lien de signature",
        "description": "Valide la signature électronique du contrat associé au token fourni. Si le lien est valide et non expiré, le statut du contrat est mis à jour en `SIGNED_ELECTRONICALLY`. Supprime le lien de signature pour éviter une réutilisation.",
        "operationId": "signContractViaLink",
        "tags": [
          "Contracts"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "Token unique du lien de signature électronique",
            "schema": {
              "type": "string",
              "example": "ec761633-8a87-4d58-8373-afacc03a602a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contrat signé électroniquement avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "79b4ebae-f107-4ca4-953e-b53b2e66e57a"
                        },
                        "contract_number": {
                          "type": "string",
                          "example": "CT-2025-0012"
                        },
                        "status": {
                          "type": "string",
                          "example": "SIGNED_ELECTRONICALLY"
                        },
                        "start_datetime": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-11-05T11:00:00.000Z"
                        },
                        "end_datetime": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-11-06T11:00:00.000Z"
                        },
                        "total_price_ht": {
                          "type": "number",
                          "example": 2083.33
                        },
                        "total_price_ttc": {
                          "type": "number",
                          "example": 2500
                        },
                        "deposit_payment_method": {
                          "type": "string",
                          "example": "card"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-11-03T10:30:00.000Z"
                        },
                        "customer": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
[...]
